body {
  color: #fff;
}

header {
  padding: 20px 0;
  background-color: #007fff;
  text-align: center;
}

h1 {
  font-size: 52px;
  margin: 0;
}

ul {
  font-family: 'Montserrat';
}

li {
  list-style: none;
  display: inline;
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  h1 {
    font-size: 48px;
    padding: 20px;
  }

  ul {
    display: flex;
    margin-top: 30px;
  }
}
